body {
	color: white;
	background-color: black;
}

.fa {
	font-size: 4vw;
}

h1 {
	text-align: center;
	font-size: 9vw;
	margin-bottom: 5%;
	font-weight: bold;
}

#title h3 {
	font-size: 3vw;
	margin-bottom: 5%;
}

h4 {
	font-size: 2vw;
}

hr {
	border-color: grey;
	background-color: grey;
}

img {
     max-width: 100%;
}


/******************** Nav ********************/
#nav-logo {
    max-width: 30vw;
}


#bigpictureinfo {
	color:grey;
}
#title {
	background-color: darkgrey;
	text-align: center;
	height: 100%;
}
#info {
	padding-top: 5%;
	width: 100%;
}
#core-values {
	text-align: center;
}
#core-values hr {
	border-color: orange;
	background-color: orange;
}

#pictureDiv {
	padding-top: 5%;
}

#pictureDiv {
	padding-left: 3%;
	padding-bottom: 5%;
}