/*Global CSS*/

body {
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
	font-size: 9vw;
	margin-bottom: 5%;
	font-weight: bold;
}

h4 {
	font-size: 2vw;
}

hr {
	border-color: grey;
	background-color: grey;
}

img {
     max-width: 100%;
}

/*Symbols*/
.fa {
	font-size: 4vw;
}


/******************** Nav ********************/
#nav-logo {
    max-width: 30vw;
}

.nav-link {
	font-weight: bold;
	color: white;
}


/*Title Card*/

#title {
	background-color: black	;
	text-align: center;
	height: 100%;
}

#title h3 {
	font-size: 3vw;
	margin-bottom: 5%;
}

/* Big Picture and Core Value*/

#info {
	padding-top: 5%;
	width: 100%;
}

#bigpicture p {
	color:grey;
}

#core-values {
	text-align: center;
}
#core-values hr {
	border-color: orange;
	background-color: orange;
}

/*Pictures*/

#pictureDiv {
	padding-top: 5%;
}

#pictureDiv {
	padding-left: 3%;
	padding-bottom: 5%;
}