
/******************** Nav ********************/
#nav-logo {
    max-width: 30vw;
}

.nav-link {
	font-weight: bold;
	color: white;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: 
    color: white;
    padding: 10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background-color: (0,0,0,0);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 1;
    background-color: black;
}

/*makes any div have a clear background*/
.transbox {
	background-color:  rgba(0, 0, 0, 0)
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    font-weight: bold;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
		color: darkgrey;	
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When you hover over a button */
.dropdown:hover .dropbtn {
   color: darkgrey;
}